.header {
  display: flex;
  flex-direction: row;
  .left {
    display: inline-flex;
    margin-right: 1rem;
    svg {
      margin-right: 0.5rem;
    }
  }
  .right {
    cursor: pointer;
    flex: 1;
    text-align: right;
  }
}
